body {
  font-family: 'Roboto Slab', serif;
  background: lightgray;
  font-size: 8.5pt;
  counter-reset: page;
  margin: 40px;
}


h1{
  font-size: 30px;
}
.smallt{
  font-size: 10pt;
  font-weight:500;
  line-height: 24px;
}
img{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.face{
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

table{
  margin: 30px;

}
td{
  padding-left: 20px;
  
}

figure{
  /* margin-top: 20%; */
  break-before:page;
  
}

.text{
  break-before: right;
  
}

figcaption{
  text-align: center;
}

p:first-child{
  margin-top: 0;

}




@media print {
  body {
    background: white;
  
  }
}


@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
  font-size: 8.5px;
 
  border-radius: 10px;

}


@page:left {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 85px;
  padding-top: 30px;

  border: 1px solid black;

  @bottom-left {
    content: counter(page);
  }
  @bottom-right {
    content:"CRYPTO ART";
  }
}



@page:right {
  margin-left: 0.5in;
  margin-right: 0.5in;
  margin-top: 85px;
  padding-top: 30px;
  
  
  content:"What is document?";

  @bottom-left {
    content:"RACHEL CHEN";
  }
  @bottom-right {
    content: counter(page);
  }
}
